<html>
	<head>
		
	</head>
	<body>
		<h2>Esta es la pagina principal del Admin</h2>
		<div class="menu">
				<button><a href="index">Volver al Index</a></button>
				<button><a href="transacciones">Transacciones</a></button>
		</div>
		<div class="caj_admin">
		<table>
			<tr>
				<th>Nombre</th>
				<th>Importe</th>
				<th>Concepto</th>
				<th>Procesador</th>
				<th>Borrar</th>
				<th>Modificar</th>
			</tr>
			<%for usuario in @usuarios%>
			<tr>
				<td><%=usuario.nombre%></td>
				<td><%=usuario.importe%></td>
				<td><%=usuario.concepto%></td>
				<td><%=usuario.procesador%></td>
				<td><a href="/admin/borrar?id=<%=usuario.id%>">Borrar</a></td>
				<td><a href="/admin/modificar_vista?id=<%=usuario.id%>">Modificar</a></td>
			</tr>
			<%end%>
		</table>
		</div>
	</body>
</html>